.footer {
  height: 68px;
  background-color: #161619;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.footer > a {
  text-decoration: none;
  color: #918E9B;
  padding: 0 18px;
}
