.main-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-name {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  margin: 0;
  margin-top: 22px;
}

.main-title {
  color: #F3BF99;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 13px;
  margin: 0;
  margin-top: 4px;
}

.main-weblink {
  color: #F5F5F5;
  font-family: 'Inter', sans-serif;
  font-size: 11px;
  margin: 0;
  margin-top: 9px;
}